@font-face {
	font-family: BebasNeueRegular;
	src: url("./fonts/BebasNeue.otf") format("opentype");
	/*http://www.fontsquirrel.com/fonts/bebas-neue*/
}
html, body, div, span, object, iframe, p, blockquote, pre, abbr, address, cite, 
code, del, dfn, img, ins, kbd, q, samp, small, sub, sup, var, dl, dt, dd, ol, 
ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, 
th, td, article, aside, canvas, details, figcaption, figure, footer, header, 
hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}
body {
	border-top: 4px solid rgb(238, 238, 238);
	font: 13px/1.231 Helvetica,Arial,sans-serif;
}
.wrapper {
	width: 980px;
	margin: 0px auto;
	padding: 0px 20px;
	min-height: 100%;
	text-align: left;
}
nav ul, nav li {
    margin: 0px;
    list-style: none outside none;
}
#top {
    padding: 50px 0px 0px 0px;
    position: relative;
}
#top #site-title {
    font: 48px/1 BebasNeueRegular,arial,sans-serif;
    color: rgb(51, 51, 51);
    margin: 0px;
    text-transform:uppercase;
}
#top nav.cart {
	background: none repeat scroll 0% 0% rgb(238, 238, 238);
	padding: 0px 10px 0px 12px;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 0px 0px 6px 6px;
	color: rgb(102, 102, 102);
}
#top nav.cart ul {
    padding: 0px;
}
#top nav.cart li {
    float: left;
    padding: 6px 12px 10px 0px;
    margin: 0px 12px 0px 0px;
    border-right: 1px solid rgb(204, 204, 204);
    font-weight: normal;
}
#top nav.cart li.last {
	border:none;
	padding-right: 0px;
	margin-right:0px;
}
#top nav.cart a {
	color: rgb(102, 102, 102);
	text-decoration: none;
	font-weight: normal;
}
#top nav.cart a:hover {
	color: rgb(109, 176, 56);
}
#top nav.header-menu {
	text-transform:uppercase;
	padding: 8px 0px 0px;
    margin: 0px 0px 0px -10px;
}
#top nav.header-menu ul {
	display: inline-block;
	padding: 8px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#top nav.header-menu li {
	float:left;
}
#top nav.header-menu li a {}
#top nav.header-menu li.first a {}
#top nav.header-menu li.last a {
	border: medium none;
}
#top nav.header-menu a:hover, #top nav.header-menu .active a {
    color: rgb(109, 176, 56);
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
#top nav.header-menu a {
    color: rgb(102, 102, 102);
    border-right: 1px dotted rgb(221, 221, 221);
    font: 24px BebasNeueRegular,arial,sans-serif;
    padding: 4px 10px;
    text-decoration: none;
    display: block;
}
.content-wrapper {
	background-color:red;
	margin: 0px;
}
.main-content-wrapper {
	background-color:blue;
	float: left;
    width: 740px;
    position: relative;
    padding-top:16px;
    background: url('./images/main-border-top-information-div-color.png') repeat-x scroll 0px 0px transparent;
}
aside.sidebar {
	background-color:yellow;
	float:right;
	width: 240px;
}
#featured-items ul {
	list-style: none outside none;
	margin: 0px;
	color: #666;
}

#featured-items ul li.item {
	width: 240px;
	background: none repeat scroll 0% 0% #F6F6F6;
	border-radius: 0px 0px 4px 4px;
	float: left;
	margin: 0px 10px 10px 0px;
	height: 400px;
}
#featured-items ul li.last-in-row {
	margin-right: 0px;
}
#featured-items ul li.item a.photo {
	max-width: 240px;
	margin:0px;
}
li.item a.photo img {
	display: block;
}
#featured-items ul li.item div.infomation {
	padding: 10px;
	background-color:purple;
}

#bottom {
	padding: 15px 0px;
	margin: 25px 0px 50px;
	font-size: 11px;
	clear: both;
	overflow: hidden;
	height: 1%;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	background-color:orange;
	color: rgb(153, 153, 153);
}
