body {
	border-top: 4px solid rgb(238, 238, 238);
	font: 13px/1.231 Helvetica,Arial,sans-serif;
}
.content-wrapper {
	width: 980px;
	margin: 0px auto;
	padding: 0px 20px;
	min-height: 100%;
	text-align: left;
}
nav ul, nav li {
    margin: 0px;
    list-style: none outside none;
}
#top {
	background-color: red;
    padding: 50px 0px 0px;
    margin: 0px 0px 30px;
    position: relative;
}
#top #site-title {
    font: 48px/1 BebasNeueRegular,arial,sans-serif;
    color: rgb(51, 51, 51);
    margin: 0px;
    background-color:green;
}
#top nav.cart {
	background: none repeat scroll 0% 0% rgb(238, 238, 238);
	padding: 0px 10px 0px 12px;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 0px 0px 6px 6px;
	color: rgb(102, 102, 102);
}
#top nav.cart ul {
    padding: 0px;
}
#top nav.cart li {
    float: left;
    padding: 6px 12px 10px 0px;
    margin: 0px 12px 0px 0px;
    border-right: 1px solid rgb(204, 204, 204);
    font-weight: normal;
}
#top nav.cart li.last {
	border:none;
	padding-right: 0px;
	margin-right:0px;
}

#top nav.header-menu {
	padding: 8px 0px 0px;
    margin: 0px 0px 0px -10px;
}
#top nav.header-menu ul {
	display: inline-block;
	padding: 8px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#top nav.header-menu li {
	float:left;
}
#top nav.header-menu .first a {
    border-radius: 4px 0px 0px 4px;
}
#top nav.header-menu a {
    color: rgb(102, 102, 102);
    border-right: 1px dotted rgb(221, 221, 221);
    font: 24px BebasNeueRegular,arial,sans-serif;
    padding: 4px 10px;
    text-decoration: none;
    display: block;
}