<form action="mailto:jhooey@gmail.com" method="GET">
    <input name="subject" type="text" Value="Email created using my-shopify-resume" />
    <textarea id="checkout-cart" name="body"></textarea>
    <input type="submit" value="Send" />
</form>