<h1>Resume Checkout</h1>
<p>
	This form is automatically populated with the items in your cart. All items will be <strong>hand delivered by Jacob Hooey</strong> once a time and place has been arranged.
</p>
<p class="note">
	Note: This form uses the mailto HTML feature which will open up your default mail application on your desktop.
</p>
<br />
<form id="checkout-form" action="mailto:jhooey@gmail.com" method="GET">
	<fieldset>
		<label for="subject" style="width:10%">Email Subject:</label>
    <input id="subject" name="subject" type="text" Value="Email from my-shopify-resume" />
    </fieldset>
    <fieldset>
    	<label for="checkout-cart" style="width:10%">Email Message:</label>
    	<textarea id="checkout-cart" name="body"></textarea>
    	</fieldset>
    
    <input class="submit" type="submit" value="Send" />
</form>