<section id="featured-items" class="clearfix">
        <ul>
                <li class="item" >
                        <a href="./item.html">
                                <img class="photo" src="/assets/item-image-placeholder.png">
                                <header>Application Developer</header>
                                <section>short Cover letter here</section>
                        </a>
                </li>
                <li class="item">
                        <a href="./item.html">
                                <img class="photo" src="/assets/item-image-placeholder.png">
                                <header>Artwork</header>
                                <section>Description of artwork here</section>
                        </a>
                </li>
                <li class="item last-in-row" >
                        <a href="./item.html">
                                <img class="photo" src="/assets/item-image-placeholder.png">
                                <header>Projects</header>
                                <section>Description of Projects here</section>
                        </a>
                </li>
        </ul>
</section>
<section class="additional-items" class="clearfix">
        <h1>Additional Items</h1>
        <ul>
                <li class="item" >
                        <a href="./item.html">
                                <img class="photo" src="/assets/item-image-placeholder.png">
                                <header>Autograph</header>
                                <section>Can be used on volunteer sheets, foozeball tournament signup sheets or even contracts!</section>
                        </a>
                </li>
                <li class="item">
                        <a href="./item.html">
                                <img class="photo" src="/assets/item-image-placeholder.png">
                                <header>One on One Meet-up</header>
                                <section>short description here</section>
                        </a>
                </li>
                <li class="item">
                        <a href="./item.html">
                                <img class="photo" src="/assets/item-image-placeholder.png">
                                <header>Test 3</header>
                                <section>short description here</section>
                        </a>
                </li>
                <li class="item last-in-row">
                        <a href="./item.html">
                                <img class="photo" src="/assets/item-image-placeholder.png">
                                <header>Test 4</header>
                                <section>short description here</section>
                        </a>
                </li>
        </ul>
</section>