<h1>Listing posts</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.text %></td>
    </tr>
  <% end %>
</table>
